@import "header";
@import "flash";
@import "form";
@import "variables";
@import "common";
@import "card";
@import "btn";
@import "task";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  color: $text-base-color;
}

a {
  text-decoration: none;
  color: $text-base-color;
}

p {
  margin: 0;
}
