@import "variables";

.container {
  padding: 33px 26px;
}

.dropbtn {
  border: none;
  &_board {
    width: 24px;
  }
  &_task {
    width: 24px;
    margin-bottom: 25px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px 14px;
  &_header {
    width: 124px;
  }
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: $text-base-color;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  &:first-child {
    margin-bottom: 10px;
  }
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
