@import "variables";

.form {
  &_text {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: $content-bg-color;
    padding: 5px 10px;
  }
  &_textfield {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: none;
    background-color: $content-bg-color;
    padding: 10px;
  }
  &_label {
    margin-bottom: 4px;
    display: block;
  }
  &_item {
    margin-bottom: 30px;
  }
  &_btn {
    margin-top: 30px;
    width: 100%;
    background: $primary-color;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    display: block;
    padding: 4px 0px;
    border: none;
    border-radius: 5px;
    line-height: 1.35;
    height: 40px;
    left: 0;
    bottom: 30px;
  }
  &_annotation {
    font-size: 13px;
  }
  & a {
    font-size: 13px;
  }
}
